@{
    //A home page containing the title “The Joel Hilton Film Collection”
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Hi! I'm Joel</h1>
<h3>Welcome to my website to keep track of my ever-expanding movie collection. </h3>

@*with an image of Joel*@
<img src="~/img/JoelHiltonHeadshot.jpg" height="400" />