@{
    ViewData["Title"] = "My Podcasts";
}

<!-- A separate “My Podcasts” page with a link to the Baconsale site -->

<h1 class="text-center">Hello! Here is my awesome podcast Baconsale- A Hickory-Smoked Pop Culture Podcast </h1>
<br />

<!--image of podcast logo-->
<div class="text-center">
    <a href="https://baconsale.com"><img src="~/img/baconsale.jpg" /></a>
</div>

<br /><br />

<!--Link to podcast site-->
<div class="text-center">
    Click the image or <a asp-area="" asp-controller="Home" asp-action="BaconSale">here</a> to learn more
</div>